tiktoken==0.12.0
pydantic==2.12.5
pydantic_core==2.41.5
httpx==0.28.1
llm-proxy-server==3.2.2
ai-microcore==6.1.1
openai==1.109.1
fastapi==0.136.3
starlette==1.1.0
uvicorn==0.48.0
anyio==4.13.0
python-dotenv==1.2.2
pyinstaller>=6.0.0
